@page
@model DaliFood.AdminPanel.Pages.Error.Er404Model
@{
}
<h1 class="text-danger">خطای 404</h1>
<h2 class="text-danger">گم شدی؟ برگرد به <a class="text-danger" asp-page="/Index"> صفحه اصلی</a></h2>


