@page
@model DaliFood.AdminPanel.Pages.ProductCategorie.UpsertModel
@{
}
<br />
<h2 class="text-info">
    @if (Model.ProductCategorie.Id == 0)
    {
        <span>افزودن دسته بندی جدید</span>
    }
    else
    {
        <span>ویرایش دسته بندی</span>
    }
   

</h2>
<hr />
<form method="post">
    <div class="border p-3">
        <div class="form-group row">
            @if (Model.ProductCategorie.Id != 0)
            {
                <input type="hidden" asp-for="ProductCategorie.Id" />
            }
            <div class="col-2 text-right">
                نام :
            </div>
            <div class="col-5">
                <input asp-for="ProductCategorie.Name" class="form-control" />
                <span asp-validation-for="ProductCategorie.Name"></span>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                توضیحات:
            </div>
            <div class="col-5">
                <input asp-for="ProductCategorie.Description" class="form-control" />
                <span asp-validation-for="ProductCategorie.Description"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-info form-control" value="ثبت" />
                    </div>
                    <div class="col-6">
                        <a asp-page="Index" class="btn btn-outline-success form-control">بازگشت به لیست</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}
