@page
@model DaliFood.AdminPanel.Pages.ProductCategorie.UpsertModel
@{
    ViewData["Title"] = "مدیریت دسته بندی غذاها";
    ViewData["Section"] = "خانه";
}


<div class="card">
    <div class="card-header header-elements-inline">
        @if (Model.ProductCategorie.Id == 0)
        {
            <h5 class="card-title">افزودن دسته بندی جدید</h5>
        }
        else
        {
            <h5 class="card-title">ویرایش گروه غذا</h5>
        }
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                @*<a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>*@
            </div>
        </div>
    </div>

    <div class="card-body">
        <form role="form" method="post">
            @if (Model.ProductCategorie.Id != 0)
            {
                <input type="hidden" asp-for="ProductCategorie.Id" />
                <input type="hidden" asp-for="ProductCategorie.CreateDate" />

            }
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend class="font-weight-semibold"><i class="icon-reading mr-2"></i>ایجاد/ویرایش  گروه غذا </legend>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">عنوان گروه</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="عنوان گروه غذا را اینجا وارد کنید" asp-for="ProductCategorie.Name">
                                <span asp-validation-for="ProductCategorie.Name" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">توضیحات</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="توضیحات را اینجا وارد کنید" asp-for="ProductCategorie.Description">
                                <span asp-validation-for="ProductCategorie.Description" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>

            <div class="text-right">
                <input type="submit" class="btn btn-success" value="تایید"><i class="icon-paperplane ml-2"></i>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/PanelTheme/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/PanelTheme/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/PanelTheme/global_assets/js/demo_pages/form_layouts.js"></script>
    <script src="~/PanelTheme/global_assets/js/plugins/editors/summernote/summernote.min.js"></script>
    <script src="~/PanelTheme/global_assets/js/demo_pages/editor_summernote.js"></script>

    <script>
        jQuery(document).ready(function () {
            $(".persiandate").persianDatepicker();
        });

        $('.numbersOnly').keyup(function () {
            if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            }
        });
    </script>
}
