@page
@model DaliFood.AdminPanel.Pages.Customer.UpsertModel
@{
    var CustomerType = (SelectList)ViewData["CustomerTypeId"];
    var City = (SelectList)ViewData["City"];


    ViewData["Title"] = "مدیریت رستوران ها";
    ViewData["Section"] = "خانه";
}
<link href="~/Leaflet/leaflet.css" rel="stylesheet" />

<style>
    .costum-map {
        width: 100%;
        height: 300px;
        border: dotted;
        padding-top: 30px;
    }
</style>

<div class="card">
    <div class="card-header header-elements-inline">

        <h5 class="card-title">افزودن رستوران جدید</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form role="form" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <fieldset>
                        <legend class="font-weight-semibold"><i class="icon-reading mr-2"></i>اطلاعات مالک رستوران</legend>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">نام:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="نام کاربر را اینجا وارد کنید" asp-for="Input.Name">
                                <span asp-validation-for="Input.Name" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">نام خانوادگی:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="نام خانوادگی کاربر را اینجا وارد کنید" asp-for="Input.Family">
                                <span asp-validation-for="Input.Family" class="field-validation-error text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">کدملی:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control numbersOnly" placeholder="کد ملی کاربر را اینجا وارد کنید" asp-for="Input.NationalId">
                                <span asp-validation-for="Input.NationalId" class="field-validation-error text-danger"></span>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">تلفن:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control numbersOnly" placeholder="تلفن کاربر را اینجا وارد کنید" asp-for="Input.PhoneNumber">
                                <span asp-validation-for="Input.PhoneNumber" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <legend class="font-weight-semibold"><i class="icon-reading mr-2"></i>اطلاعات حساب کاربری</legend>


                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">ایمیل:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="ایمیل کاربر را اینجا وارد کنید" asp-for="Input.Email">
                                <span asp-validation-for="Input.Email" class="field-validation-error text-danger"></span>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">گذرواژه:</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" placeholder="گذرواژه کاربر را اینجا وارد کنید" asp-for="Input.Password">
                                <span asp-validation-for="Input.Password" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">تکرار گذرواژه:</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" placeholder="تکرار گذرواژه کاربر را اینجا وارد کنید" asp-for="Input.ConfirmPassword">
                                <span asp-validation-for="Input.ConfirmPassword" class="field-validation-error text-danger"></span>
                            </div>
                        </div>


                        <legend class="font-weight-semibold"><i class="icon-reading mr-2"></i>اطلاعات رستوران</legend>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">نام رستوران:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="نام رستوران را اینجا وارد کنید" asp-for="Input.CustomerName">
                                <span asp-validation-for="Input.CustomerName" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">گروه رستوران:</label>
                            <div class="col-lg-9">
                                <select class="form-control" asp-for="Input.CustomerType" asp-items="CustomerType"></select>
                                <span asp-validation-for="Input.CustomerType" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">شهر:</label>
                            <div class="col-lg-9">
                                <select class="form-control" asp-for="Input.City" asp-items="City"></select>
                                <span asp-validation-for="Input.City" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">آدرس رستوران:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="آدرس رستوران را اینجا وارد کنید" asp-for="Input.CustomerAddress">
                                <span asp-validation-for="Input.CustomerAddress" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">نام مالک رستوران:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="نام مالک رستوران را اینجا وارد کنید" asp-for="Input.CustomerOwnerName">
                                <span asp-validation-for="Input.CustomerOwnerName" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">نام خانوادگی مالک رستوران:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="نام خانوادگی مالک رستوران را اینجا وارد کنید" asp-for="Input.CustomerOwnerFamily">
                                <span asp-validation-for="Input.CustomerOwnerFamily" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <input type="hidden" id="Longitude" asp-for="Input.Longitude" />
                        <input type="hidden" id="latitude" asp-for="Input.Latitude" />
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">آدرس روی نقشه:</label>
                            <div class="col-lg-9">
                                <div id="map" class="costum-map"></div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="text-right">
                <input type="submit" class="btn btn-success" value="تایید"><i class="icon-paperplane ml-2"></i>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    <partial Name="_ValidationScriptsPartial" />
    <script src="~/Leaflet/leaflet.js"></script>
    <script src="~/PanelTheme/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/PanelTheme/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/PanelTheme/global_assets/js/demo_pages/form_layouts.js"></script>
    <script src="~/PanelTheme/global_assets/js/plugins/editors/summernote/summernote.min.js"></script>
    <script src="~/PanelTheme/global_assets/js/demo_pages/editor_summernote.js"></script>

    <script>
        LeafletMap('', '', 'En', '', '')

        function LeafletMap(lat, lng, status, url, dis) {
            var map, newMarker, markerLocation;

            if (dis == null) { dis = ''; }
            if (dis == null) { dis = ''; }

            if (lat == null) { lat = '36.32356134189473'; }
            if (lat == '') { lat = '36.32356134189473'; }

            if (lng == null) { lng = '59.57780599594117'; }
            if (lng == '') { lng = '59.57780599594117'; }

            if (url == null) { url = ''; }
            if (url == '') { url = '../Content/File/Template/ICO/MapPins/FL_New.png'; }

            $(function () {
                var map = L.map('map').setView([36.32356134189473, 59.57780599594117], 15);
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '<a href="http://openstreetmap.org"></a><a href="http://creativecommons.org/licenses/by-sa/2.0/"></a>',
                    maxZoom: 18
                }).addTo(map);

                var greenIcon = L.icon({
                    iconUrl: url,
                    iconSize: [35, 35]
                })

                newMarkerGroup = new L.LayerGroup();
                var theMarker = {};
                theMarker = L.marker([lat, lng]).addTo(map);
                if (status == 'En') {
                    map.on('click', function (e) {
                        if (theMarker != undefined) {
                            map.removeLayer(theMarker);
                        };
                        if (dis != '') {
                            console.log(dis)
                            for (var i = 0; i < dis.length; i++) {
                                var dis_name = dis[i].Name;
                                var dis_border = dis[i].Border;
                                if (dis_border.length > 0) {
                                    var pt = turf.point([parseFloat(e.latlng.lat), parseFloat(e.latlng.lng)]);
                                    var pt_all_list = turf.polygon([dis_border]);
                                    var ch__ = turf.booleanPointInPolygon(pt, pt_all_list);
                                    if (ch__) {
                                        AutoClose_Swal2('<a style="color:green;font-weight:bold">' + 'نام منطقه: ' + dis_name + '</a>')
                                        document.getElementById("LocationDistrict").value = dis_name;
                                    }
                                }
                            }
                        }

                        map.setView([e.latlng.lat, e.latlng.lng], 13);
                        theMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);

                        document.getElementById("latitude").value = e.latlng.lat;
                        document.getElementById("Longitude").value = e.latlng.lng;
                    });
                }
            });
        }

    </script>

    <script>
        jQuery(document).ready(function () {
            $(".persiandate").persianDatepicker();
        });

        $('.numbersOnly').keyup(function () {
            if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            }
        });
    </script>
}



