@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "فعال سازی حساب ";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        ایمیل فعال سازی حساب شما ارسال گردید، لطفا  ایمیل خود را بررسی کنید.
    </p>
    
}
