@page
@model DaliFood.AdminPanel.Pages.Product.Discount.IndexModel
@{
}
<div class="container">
    <a class="btn btn-outline-primary m-2" asp-page="upsert">افزودن تخفیف جدید</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">نام</th>

                <th scope="col">قیمت</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Discount)
            {
                <tr>
                    <td>@item.Product.Name</td>

                    <td>@item.DiscountRate</td>
                    <td>
                        <a asp-page="upsert" asp-route-Id="@item.Id" class="btn btn-warning">ویرایش</a>
                        <a asp-page-handler="Delete" asp-route-Id="@item.Id" onclick="return confirm('آیا از حذف این دسته بندی مطمئن هستید؟');" class="btn btn-danger">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>