@page
@model DaliFood.AdminPanel.Pages.Product.Discount.UpsertModel
@{
}
<br />
<h2 class="text-info">
    @if (!Model.IsEditing)
    {
        <span>افزودن تخفیف جدید</span>
    }
    else
    {
        <span>ویرایش تخفیف</span>
    }


</h2>
<hr />
<form method="post">
    <div class="border p-3">
        @if (Model.IsEditing)
        {
            <input type="hidden" asp-for="Discount.Id" />
            <input type="hidden" asp-for="Discount.CreateDate" />
        }
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="IsEditing" />
        <div class="form-group row">
            <div class="col-2 text-right">
                غذا:
            </div>
            <div class="col-5">
                @Model.ProductName
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2 text-right">
                میزان تخفیف(درصد) :
            </div>
            <div class="col-5">
                <input asp-for="Discount.DiscountRate" class="form-control" />
                <span asp-validation-for="Discount.DiscountRate"></span>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                تاریخ شروع:
            </div>
            <div class="col-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="enter_date">انتخاب تاریخ</span>
                    </div>
                    <input type="text" id="enter_date_1" class="form-control form-group"
                           aria-label="enter_date" aria-describedby="enter_date" />
                    <input type="hidden" asp-for="Discount.StartDate" id="enter_date_2" class="form-control form-group"
                           aria-label="enter_date" aria-describedby="enter_date" />

                </div>
                <span asp-validation-for="Discount.StartDate"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-right">
                تاریخ انقضا:
            </div>
            <div class="col-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="exit_date">انتخاب تاریخ</span>
                    </div>
                    <input type="text" name="exit_date_1" id="exit_date_1" class="form-control form-group" aria-label="exit_date"
                           aria-describedby="exit_date" />
                    <input type="hidden" asp-for="Discount.ExpirationDate" id="exit_date_2" class="form-control form-group"
                           aria-label="exit_date" aria-describedby="exit_date" />
                </div>
                <span asp-validation-for="Discount.ExpirationDate"></span>
            </div>
        </div>

      
       
        <div class="form-group row">
            <div class="col-5 offset-2">
                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-info form-control" value="ثبت" />
                    </div>
                    <div class="col-6">
                        <a asp-page="../Index" class="btn btn-outline-success form-control">بازگشت به لیست</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{

    <script type="text/javascript">
    $('#enter_date').MdPersianDateTimePicker({
      targetTextSelector: '#enter_date_1',
      targetDateSelector: '#enter_date_2',
      fromDate: true,
      groupId: 'enter_date',
      modalMode: true
    });

    $('#exit_date').MdPersianDateTimePicker({
      targetTextSelector: '#exit_date_1',
      targetDateSelector: '#exit_date_2',
      toDate: true,
      groupId: 'enter_date',
      modalMode: true
    });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
