@page
@model IndexModel

@{Layout = null; }

@{
    ViewData["Title"] = "دالی فود";
}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>food</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Index-Theme/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Index-Theme/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Index-Theme/css/reset.css" />
    <link rel="stylesheet" href="~/Index-Theme/css/style.css" />
    <link rel="stylesheet" href="~/Index-Theme/css/animate.css" />
    <link rel="stylesheet" href="~/Index-Theme/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Index-Theme/css/magnific-popup.css" />

    <!-- Google Web fonts -->
    <!-- Font icons -->
    <link rel="stylesheet" href="~/Index-Theme/font/essential-icons.css" />
    <link rel="stylesheet" href="~/Index-Theme/font/font-awesome.min.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="~/Index-Theme/css/main.css">

</head>

<body class="diag">

    <!-- LOADER -->
    <!-- <div class="loader-wrapper">
        <div class="loader"></div>
    </div> -->

    <nav>

        <header class=" d-flex justify-content-between align-items-center p-3 byekan">
                <h2 style="color: #FE9C03" class="headertitle text-left">Dali Food</h2>
                <div style="background-color: #FE9C03;border-radius: 7px; font-weight: 600;" class=" p-2">
                <a style="text-decoration: none;" class="text-white headerbtntext" href="#download">
                    همین حالا دانلود
                    کنید
                </a>
            </div>
        </header>
    </nav>

    <!--HOME-->
    <section class="home slider" id="home">
        <div class="home-content">
            <div class="container">
                <h1 class="text-center">
                    ارایه دهنده محصولاتی <span style="color: #FE9C03;" class="element"
                                               data-text1="با بهترین کیفیت" data-text2="با قیمتی مقرون به صرفه" data-loop="true"
                                               data-backdelay="3000"></span>
                </h1>

                <div>
                    <a class="btn btn-lg mybtnozv " href="/Identity/Account/Login">
                        <p> ورود</p>
                    </a>
                </div>

            </div>
        </div>
        <div class="home-slider">
            <div id="slides">
                <div class="slides-container">
                    <img src="~/Index-Theme/pic/gb-133.jpg" alt="">
                    <img src="~/Index-Theme/pic/f1.jpg" alt="">
                    <img src="~/Index-Theme/pic/bg-3123.jpg" alt="">
                </div>
            </div>
        </div>
        <svg class="diagonal home-left" width="21%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 100 L100 100 L0 10 Z"></path>
        </svg>
        <svg class="diagonal home-right" width="80%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 100 L100 100 L100 10 Z"></path>
        </svg>
    </section>
    <!--ABOUT-->
    <section class="about dgray-bg iransans" id="about">
        <div class="about type-1 padbot_120">
            <div class="container">

                <class class="row justify-content-center">
                    <!-- about image -->

                    <div class=" abtimagemobile col-md-4 col-sm-12 about-image top_30">
                        <!-- <div class="row"> -->
                        <img src="~/Index-Theme/pic/f4.jpg" alt="">
                        <!-- </div> -->
                    </div>

                    <!-- about text -->
                    <div class="col-md-6 col-md-offset-1 col-sm-12 about-text">
                        <div class="section-title dleft bottom_30">
                            <br>
                            <h2> درباره ما </h2>
                        </div>
                        <p>
                            دالی فود، بزرگ‌ترین سامانه سفارش آنلاین غذا است. دالی فود، علاوه بر سفارش غذا، خدمات سفارش آنلاین کیک و شیرینی و سوپرمارکت آنلاین را نیز ارائه می‌کند. <br /><br /> در حال حاضر، بیش از 10000 رستوران دربیش از ۷۰ نقطه از کشور فعال هستند.
                            شما با سفارش غذا از اسنپ فود به طیف وسیعی از رستوران‌ها، غذاها و بهترین برندها دسترسی خواهید داشت. با سفارش آنلاین غذا در تهران، اصفهان، مشهد، تبریز و دیگر نقاط ایران، راحتی و تنوع را تجربه کنید.
                        </p>
                    </div>

                    <div class="abtimagepc col-md-4 col-sm-12 about-image top_30">
                        <!-- <div class="row"> -->
                        <img src="~/Index-Theme/pic/f4.jpg" alt="">
                        <!-- </div> -->
                    </div>

                    <!-- work areas -->

                </class>

            </div>
            <svg class="diagonal-gray" width="100%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
                <path d="M0 0 L70 100 L100 0 Z"></path>
            </svg>
        </div>
    </section>

    <section class="mainpic" id="download">
        <div style="background-color: rgba(0, 0, 0, 0.3);" class="h-100">
            <div class="text-center text-white maintitle byekanBold">
                <h2 class="up">دانلود <span style="color: #FE9C03;" class="">Dali Food</span> به راحتی</h2>
                <p class="down text-white pt-3">تجربه بهترین غذا در سریع ترین زمان</p>
            </div>
            <div class=" container mainlogo">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-lg-5 col-md-10 my-2 myphotoseterLeft">
                        <img class="photo" src="~/Index-Theme/pic/bazar2.png" alt="">
                    </div>
                    <div class="col-lg-5 col-md-10 my-2 myphotoseterRight">
                        <img class="photo" src="~/Index-Theme/pic/google2.png" alt="">
                    </div>
                    <div class="col-lg-5 col-md-10 my-2 myphotoseterLeft">
                        <img class="photo" src="~/Index-Theme/pic/sibapp2.png" alt="">
                    </div>
                    <div class="col-lg-5 col-md-10 my-2 myphotoseterRight">
                        <img class="photo" src="~/Index-Theme/pic/sibche2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- CONTACT -->
    <section class="contact byekan" id="contact">
        <div class="container">

            <div class="section-title dleft top_90">
                <h2 class="bottom_30 text-center">با ما در تماس باشید</h2>
            </div>
            <div class="col-md-11 col-md-offset-2 form top_30 bottom_90 mx-auto">
                <div class="page-title sub">
                    <h5>ارسال پیام</h5>
                </div>
                <form class="contact-form top_60" method="POST" action="mail.php">
                    <div class="row">
                        <!--Name-->
                        <div class="col-md-6">
                            <input id="con_name" name="con_name" class="form-inp requie" type="text" placeholder="نام">
                        </div>
                        <!--Email-->
                        <div class="col-md-6">
                            <input id="con_email" name="con_email" class="form-inp requie" type="text"
                                   placeholder="ایمیل">
                        </div>
                        <div class="col-md-12">
                            <!--Message-->
                            <textarea name="con_message" id="con_message" class="requie" placeholder="متن"
                                      rows="8"></textarea>
                            <button id="con_submit" class=" sitebtn top_30 pull-right" type="submit">ارسال</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer class="text-center p-5  text-white byekanBold">
        <h5>
            تمامی حقوق برای <a style="font-size: 24px; text-decoration: none;color: #FE9C03;" class="mx-1"
                               href="https://spad.co">اسپاد</a> محفوظ است
        </h5>
    </footer>

    <!-- Javascripts -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/Index-Theme/js/jquery-2.1.4.min.js"></script><!-- jQuery library -->
    <script src="~/Index-Theme/js/bootstrap.min.js"></script>
    <script src="~/Index-Theme/js/wow.min.js"></script>
    <script src="~/Index-Theme/js/isotope.pkgd.min.js"></script>
    <script src="~/Index-Theme/js/typed.js"></script>
    <script src="~/Index-Theme/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Index-Theme/js/jquery.superslides.min.js"></script>
    <script src="~/Index-Theme/js/owl.carousel.min.js"></script>
    <script src="~/Index-Theme/js/main.js"></script>
    <script>

        //SUPER SLİDER
        $('#slides').superslides({
            animation: 'fade',
            play: 3000
        });

    </script>
</body>

</html>