
<div class="sidebar sidebar-light sidebar-main sidebar-expand-md">
    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-right8"></i>
        </a>
        <span class="font-weight-semibold">Navigation</span>
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->
    <!-- Sidebar content -->
    <div class="sidebar-content">
        <!-- User menu -->
        <div class="sidebar-user-material">
            <div class="sidebar-user-material-body">
                <div class="card-body text-center">
                    <a href="#">
                        <img src="~/PanelTheme/global_assets/images/demo/users/user-icon.jpg" class="img-fluid rounded-circle shadow-1 mb-3" width="80" height="80" alt="">
                    </a>
                    <h6 class="mb-0 text-white text-shadow-dark">کاربر جاری</h6>
                    <span class="font-size-sm text-white text-shadow-dark">خوش آمدید</span>
                </div>

                <div class="sidebar-user-material-footer">
                    <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>حساب کاربری من</span></a>
                </div>
            </div>

            <div class="collapse" id="user-nav">
                <ul class="nav nav-sidebar">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-user-plus"></i>
                            <span>پروفایل</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-coins"></i>
                            <span>گزارشات</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-comment-discussion"></i>
                            <span>پیام ها</span>
                            <span class="badge bg-teal-400 badge-pill align-self-center ml-auto">58</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-cog5"></i>
                            <span>تنظیمات</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-switch2"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /user menu -->
        <!-- Main navigation -->

        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">
                <!-- Main -->

                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link active">
                        <i class="icon-home4 text-success"></i>
                        <span>
                            خانه
                        </span>
                    </a>
                </li>

                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link">
                        <i class="icon-equalizer"></i><span>مدیریت تنظیمات</span>
                    </a>
                    <ul class="nav nav-group-sub">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Setting" asp-action="Update" class="nav-link">
                                تنظیمات
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="ImageSetting" asp-action="Update" class="nav-link">
                                تنظیمات عکس
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link">
                        <i class="icon-drawer3"></i> <span>مدیریت محتوا</span>
                    </a>
                    <ul class="nav nav-group-sub">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="NewsCategory" asp-action="Index" class="nav-link active">
                                گروه بندی اخبار
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="News" asp-action="Index" class="nav-link">
                                اخبار
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="BlogCategory" asp-action="Index" class="nav-link">
                                گروه بندی وبلاگ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="nav-link">
                                وبلاگ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Slider" asp-action="Index" class="nav-link">
                                اسلایدر
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-action="Index" asp-controller="Video" class="nav-link">
                                ویدیو
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Brand" asp-action="Index" class="nav-link">
                                برند
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Rule" asp-action="Update" class="nav-link">
                                قوانین و مقررات
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="FAQ" asp-action="Index" class="nav-link">
                                سوالات متداول
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link">
                        <i class="icon-store"></i>
                        <span>مدیریت محصولات</span>
                    </a>
                    <ul class="nav nav-group-sub">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="ProductCategory" asp-action="Index" class="nav-link">
                                گروه بندی محصولات
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="nav-link">
                                محصولات
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Discount" asp-action="Index" class="nav-link">
                                تخفیفات
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link active">
                        <i class="icon-exit3 text-danger"></i>
                        <span>
                            ویترین
                        </span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->
</div>