@page
@model DaliFood.AdminPanel.Pages.Customer.Account.RegisterModel

@{Layout = null; }
@{
    ViewData["Title"] = "Register";
    var CustomerType = (SelectList)ViewData["CustomerTypeId"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Customer-Reg/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="~/FarsiFont/FarsiFonts.css" rel="stylesheet" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/Customer-Reg/css/style.css">
    <link href="~/PanelTheme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="~/PersianDateTimePicker/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/PersianDateTimePicker/Content/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />

    <script src="~/PersianDateTimePicker/Scripts/jquery-2.1.4.js"></script>
    <script src="~/PersianDateTimePicker/Scripts/bootstrap.min.js"></script>
    <script src="~/PersianDateTimePicker/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.min.js"></script>
    <style>
        .custom-label {
            font-size: larger !important;
            font-weight: bolder !important;
        }
    </style>


</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                @*<div class="signup-img">
                        <img src="~/Customer-Reg/images/signup-img.jpg" alt="">
                    </div>*@
                <div class="signup-form" dir="rtl">
                    <h6>&nbsp;</h6>
                    <h2>ثبت فروشگاه جدید</h2>
                    <hr style="width:97%" />
                    <form method="POST" class="register-form" id="register-form" asp-route-returnUrl="@Model.ReturnUrl">
                        <div class="form-row">
                            <div class="form-group">
                                <label class="custom-label" for="name">نام :</label>
                                <input type="text" asp-for="Input.Name" />
                                <span asp-validation-for="Input.Name" class="field-validation-error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="father_name">نام خانوادگی :</label>
                                <input type="text" asp-for="Input.Family" />
                                <span asp-validation-for="Input.Family" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label class="custom-label" for="name">کدملی :</label>
                                <input type="text" asp-for="Input.NationalId" class="numbersOnly" />
                                <span asp-validation-for="Input.NationalId" class="field-validation-error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="father_name">تاریخ تولد :</label>
                                <input type="date" asp-for="Input.Birthday" />
                                <div data-mdpersiandatetimepickershowing="false" title="" data-original-title="" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1393,&quot;Month&quot;:10,&quot;Day&quot;:10,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}" data-enabletimepicker="false" data-mdpersiandatetimepicker="" style="cursor: pointer;" class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#exampleInput3">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                <span asp-validation-for="Input.Birthday" class="field-validation-error text-danger"></span>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group">
                                <label class="custom-label" for="name">نام فروشگاه :</label>
                                <input type="text" asp-for="Input.CustomerName" />
                                <span asp-validation-for="Input.CustomerName" class="field-validation-error text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="state">گروه فروشگاه :</label>
                                <div class="form-select">
                                    <select asp-for="Input.CustomerType" asp-items="CustomerType">
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                                <span asp-validation-for="Input.CustomerType" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">آدرس فروشگاه :</label>
                            <input type="text" asp-for="Input.CustomerAddress" />
                            <span asp-validation-for="Input.CustomerAddress" class="field-validation-error text-danger"></span>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="email">ایمیل :</label>
                                <input type="email" asp-for="Input.Email" />
                                <span asp-validation-for="Input.Email" class="field-validation-error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="email">تلفن :</label>
                                <input type="tel" asp-for="Input.PhoneNumber" class="numbersOnly" />
                                <span asp-validation-for="Input.PhoneNumber" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="email">گذرواژه :</label>
                                <input type="password" asp-for="Input.Password" />
                                <span asp-validation-for="Input.Password" class="field-validation-error text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="email">تکرار گذرواژه :</label>
                                <input type="password" asp-for="Input.ConfirmPassword" />
                                <span asp-validation-for="Input.ConfirmPassword" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning btn-block">ثبت فروشگاه <i class="icon-circle-left2 ml-2"></i></button>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-light btn-block" style="color:cornflowerblue;" href="/Identity/Account/Login">حساب کاربری دارم</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- JS -->
    <script src="~/Customer-Reg/vendor/jquery/jquery.min.js"></script>
    <script src="~/Customer-Reg/js/main.js"></script>

    <script src="~/PersianDateTimePicker/Scripts/MdBootstrapPersianDateTimePicker/calendar.js"></script>


    <!--Map Script-->
    <script>
        LeafletMap('', '', 'En', '', '')

        function LeafletMap(lat, lng, status, url, dis) {
            var map, newMarker, markerLocation;

            if (dis == null) { dis = ''; }
            if (dis == null) { dis = ''; }

            if (lat == null) { lat = '36.32356134189473'; }
            if (lat == '') { lat = '36.32356134189473'; }

            if (lng == null) { lng = '59.57780599594117'; }
            if (lng == '') { lng = '59.57780599594117'; }

            if (url == null) { url = ''; }
            if (url == '') { url = '../Content/File/Template/ICO/MapPins/FL_New.png'; }

            $(function () {
                var map = L.map('map').setView([36.32356134189473, 59.57780599594117], 15);
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '<a href="http://openstreetmap.org"></a><a href="http://creativecommons.org/licenses/by-sa/2.0/"></a>',
                    maxZoom: 18
                }).addTo(map);

                var greenIcon = L.icon({
                    iconUrl: url,
                    iconSize: [35, 35]
                })

                newMarkerGroup = new L.LayerGroup();
                var theMarker = {};
                theMarker = L.marker([lat, lng]).addTo(map);
                if (status == 'En') {
                    map.on('click', function (e) {
                        if (theMarker != undefined) {
                            map.removeLayer(theMarker);
                        };
                        if (dis != '') {
                            console.log(dis)
                            for (var i = 0; i < dis.length; i++) {
                                var dis_name = dis[i].Name;
                                var dis_border = dis[i].Border;
                                if (dis_border.length > 0) {
                                    var pt = turf.point([parseFloat(e.latlng.lat), parseFloat(e.latlng.lng)]);
                                    var pt_all_list = turf.polygon([dis_border]);
                                    var ch__ = turf.booleanPointInPolygon(pt, pt_all_list);
                                    if (ch__) {
                                        AutoClose_Swal2('<a style="color:green;font-weight:bold">' + 'نام منطقه: ' + dis_name + '</a>')
                                        document.getElementById("LocationDistrict").value = dis_name;
                                    }
                                }
                            }
                        }

                        map.setView([e.latlng.lat, e.latlng.lng], 13);
                        theMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);

                        document.getElementById("latitude").value = e.latlng.lat;
                        document.getElementById("Longitude").value = e.latlng.lng;
                    });
                }
            });
        }

    </script>
    <script>
        $('.numbersOnly').keyup(function () {
            if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            }
        });

        $('#birthday').MdPersianDateTimePicker({
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });
    </script>



</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>