@page
@model DaliFood.AdminPanel.Pages.Customer.Account.RegisterModel
     
@{
    SelectList customertypes = (SelectList)ViewData["CustomerTypeId"];
    ViewData["Title"] = "مدیریت کاربران";
    ViewData["Section"] = "خانه";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-header header-elements-inline">

        <h5 class="card-title">افزودن کاربر جدید</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form role="form" method="post">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div asp-validation-summary="ModelOnly" class="field-validation-error text-danger"></div>
                        <legend class="font-weight-semibold"><i class="icon-reading mr-2"></i>کاربران</legend>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">نام:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="نام کاربر را اینجا وارد کنید" asp-for="Input.Name">
                                <span asp-validation-for="Input.Name" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">نام خانوادگی:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="نام خانوادگی کاربر را اینجا وارد کنید" asp-for="Input.Family">
                                <span asp-validation-for="Input.Family" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">ایمیل:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="ایمیل کاربر را اینجا وارد کنید" asp-for="Input.Email">
                                <span asp-validation-for="Input.Email" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">تلفن:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control numbersOnly" placeholder="تلفن کاربر را اینجا وارد کنید" asp-for="Input.PhoneNumber">
                                <span asp-validation-for="Input.PhoneNumber" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" asp-for="Input.CustomerName"></label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="نام فروشگاه را اینجا وارد کنید" asp-for="Input.CustomerName">
                                <span asp-validation-for="Input.CustomerName" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" asp-for="Input.CustomerType"></label>
                            <div class="col-lg-9">
                                <select class="form-control" asp-for="Input.CustomerType" asp-items="customertypes"></select>
                                <span asp-validation-for="Input.CustomerType" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" asp-for="Input.CustomerAddress"></label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="آدرس فروشگاه را اینجا وارد کنید" asp-for="Input.CustomerAddress">
                                <span asp-validation-for="Input.CustomerAddress" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" asp-for="Input.CustomerOwnerName"></label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="نام مالک فروشگاه را اینجا وارد کنید" asp-for="Input.CustomerOwnerName">
                                <span asp-validation-for="Input.CustomerOwnerName" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" asp-for="Input.CustomerOwnerFamily"></label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="نام خانوادگی مالک فروشگاه را اینجا وارد کنید" asp-for="Input.CustomerOwnerFamily">
                                <span asp-validation-for="Input.CustomerOwnerFamily" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" asp-for="Input.Birthday"></label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="تاریخ تولد مالک فروشگاه را اینجا وارد کنید" asp-for="Input.Birthday">
                                <span asp-validation-for="Input.Birthday" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" asp-for="Input.NationalId"></label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="کدملی مالک فروشگاه را اینجا وارد کنید" asp-for="Input.NationalId">
                                <span asp-validation-for="Input.NationalId" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">گذرواژه:</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" placeholder="گذرواژه کاربر را اینجا وارد کنید" asp-for="Input.Password">
                                <span asp-validation-for="Input.Password" class="field-validation-error text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">تکرار گذرواژه:</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" placeholder="تکرار گذرواژه کاربر را اینجا وارد کنید" asp-for="Input.ConfirmPassword">
                                <span asp-validation-for="Input.ConfirmPassword" class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="text-right">
                <input type="submit" class="btn btn-success" value="تایید"><i class="icon-paperplane ml-2"></i>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    <partial Name="_ValidationScriptsPartial" />

    <script src="~/PanelTheme/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/PanelTheme/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/PanelTheme/global_assets/js/demo_pages/form_layouts.js"></script>
    <script src="~/PanelTheme/global_assets/js/plugins/editors/summernote/summernote.min.js"></script>
    <script src="~/PanelTheme/global_assets/js/demo_pages/editor_summernote.js"></script>

    <script>
        jQuery(document).ready(function () {
            $(".persiandate").persianDatepicker();
        });

        $('.numbersOnly').keyup(function () {
            if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            }
        });
    </script>
}


